.offcanvas__header--menu__open {
    line-height: 1;
    display: none;
}

.offcanvas__header--menu__open--btn>* {
    pointer-events: none;
}

@media only screen and (max-width: 991px) {
    .offcanvas__header--menu__open {
        display: block;
    }
}

.offcanvas__header--menu__open--svg {
    width: 32px;
}

.offcanvas__header {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 300px;
    height: 100vh;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    background-color: #fff;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    opacity: 0;
    visibility: hidden;
}

@media only screen and (min-width: 480px) {
    .offcanvas__header {
        max-width: 320px;
    }
}

.offcanvas__header.open {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
}

.offcanvas__header.open~.offcanvas-overlay {
    visibility: visible;
    opacity: 0.75;
}

.offcanvas-overlay {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    opacity: 0;
    background-color: #000;
}

.offcanvas__inner {
    position: relative;
    height: 100%;
}

/* Offacnvas Logo */
.offcanvas__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 20px 15px;
}

.offcanvas__close--btn {
    position: relative;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    width: 20px;
    height: 20px;
    padding: 0;
    text-indent: -9999px;
    border: none;
    background-color: transparent;
}

.offcanvas__close--btn::before,
.offcanvas__close--btn::after {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    margin-top: -1px;
    content: "";
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: #000;
}

.offcanvas__close--btn::after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

/* Mobile Menu */
.offcanvas__menu {
    overflow-y: auto;
    height: 100%;
}

.offcanvas__menu_ul {
    overflow: auto;
    margin: 0;
    padding: 0;
    list-style: none;
    max-height: 300px;
}

.offcanvas__menu_li {
    position: relative;
    border-bottom: 1px solid #e4e4e4;
}

.offcanvas__menu_li:first-child {
    border-top: 1px solid #e4e4e4;
}

.offcanvas__menu_item {
    line-height: 1;
    display: block;
    padding: 15px 20px;
    text-transform: uppercase;
}

/* Mobile Sub Menu */
.offcanvas__sub_menu {
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;
}

.offcanvas__sub_menu_li {
    position: relative;
    border-top: 1px solid #e4e4e4;
}

.offcanvas__sub_menu_item {
    line-height: 1;
    display: block;
}

.offcanvas__sub_menu_item~.offcanvas__sub_menu .offcanvas__sub_menu_item {
    padding-left: 40px;
}

.offcanvas__sub_menu_toggle {
    font-size: 20px;
    position: absolute;
    z-index: 9;
    top: 0;
    width: 40px;
    height: 46px;
    padding: 0;
    border: none;
    border-radius: 0;
    background-color: transparent;
}

.offcanvas__sub_menu_toggle::before,
.offcanvas__sub_menu_toggle::after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 2px;
    content: "";
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-color: #000;
}

.offcanvas__sub_menu_toggle:not(.active)::after {
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(90deg);
    transform: translateX(-50%) translateY(-50%) rotate(90deg);
}

.offcanvas__account--items {
    padding: 28px 17px 20px;
}

.offcanvas__account--items__icon {
    width: 30px;
    height: 30px;
    text-align: center;
    background: #ee2761;
    line-height: 28px;
    border-radius: 50%;
    color: #fff;
}